<ul class="socialLinks">
	<li><a target="_new" href="https://www.facebook.com/vegetable66/"><i class="fa fa-facebook-square"></i></a></li>
	<li><a target="_new" href="#"><i class="fa fa-youtube-play"></i></a></li>
	<li><a target="_new" href="#"><i class="fa fa-flickr"></i></a></li>
	<li><a target="_new" href="#"><i class="fa fa-skype"></i></a></li>
</ul>
<hr/>
<div class="footerLogo"></div>
<h5>蔬果溜溜</h5>
<p>永遠只為您著想。<br>新鮮蔬果、產地直送、品質把關<br>用心經營、資訊公開、社會責任、回饋消費者、回饋農民</p>
<ul class="copyright">
	<li>&copy; 著作版權 2016 蔬果溜溜.</li> 
	<li>Design by 蔬果溜溜.</li>
</ul>