.body{width: 100%}
section{
	width: 100%;
	min-height:400px;
	margin: 0px 0px 50px 0px;
	position: relative;
}
/* vegetabl banner */
	.vegetableBanner{
		max-width: 100%;
		height: 45px;
		overflow: hidden;
		position: relative;
	}
	.vegetableBanner:hover{
		cursor: pointer;
	}
	.vegetableBanner:hover #showText{
		padding-left: 25px;
		background: rgba(122,223,151,0.4);
	}
	.vegetableBanner #banner{
		width: 100%;
		height: 300px;
		background: url('./../images/shopping/vegetableBanner.jpg');
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-filter: blur(1px);
		filter: blur(1px);
		z-index: 1;
	}
	.vegetableBanner #showText{
		width: 100%;
		height: 100%;
		font-size: 20px;
		text-align: center;
		line-height: 45px;
		font-weight: 500;
		color: #fff;
		position: absolute;
		z-index: 2;
		background: rgba(34,177,76,0.4);
		text-shadow: 2px 2px #1B5F2F;
	}
	.fixedVegeBanner{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
/* video page */
	.blackBG{
		position: fixed;
		background: rgba(0,0,0,0.7);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	.videoPage{
		position: fixed;
		background: #fff;
		z-index: 10;
		width: 70%;
		height: 70%;
		left: 15%;
		top: 15%;
		border-radius: 3px;
		min-height: 800px;
		min-height: 450px;
		padding: 15px 24px 15px 6px;
		display: none;
	}
	.close{
		position: absolute;
		right:24px;
		width: 32px;
		height: 32px;
		background: url(./../images/icon/black_cross.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
/* banner */
	.banner{
		background: url("./../images/shopping/orange/banner.jpg");
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner p{
		font-size: 65px;
		color: white;
		font-weight: 900;
		float: left;
		margin: 50px 0px 0px 10%;
		text-align: center;
	}
	.banner .video{
		width: 150px;
		height: 150px;
		background: url(./../images/icon/white_video.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		float: right;
		margin:200px 15% 0px 0px;
	}
/* body */
	.ReciprocalTime{
		width: 150px;
		height: 150px;
		position: fixed;
		z-index: 11;
		border-radius: 100px;
		text-align: center;
		padding: 25px;
		color: #548235;
	}
	#clockicon{
		background: url("../images/shopping/vegetable.png");
		width: 70px;
		height: 70px;
		background-size: 70px auto;
	}
	#detail{
		width: 100%;
		margin: auto;
	}
	#detail .intro{
		width: 78%;
		padding: 10px 10% 25px 10%;
	}
	#detail #nextDelivery{
		width: 100%;
		height: 50px;
		background : #FF7F27;
		line-height: 50px;
		font-size: 20px;
		color:#fff;
		text-align: center;
	}
	#detail #nextDelivery .delivery{
		width: 30px;
		height: 30px;
		background: url(./../images/icon/black_delivery.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	#notice{
		font-size: 20px;
		text-align: center;
		font-weight: 700;
		margin-top: 15px;
		text-decoration: underline;
	}
	.redSadow{
		text-shadow: 2px 2px #C00000;
		font-weight: 900;
	}
	.redFront{
		color:#C00000;
		font-weight: 900;
	}
	.optionDiv{
		list-style: none;
		margin: 30px auto 30px auto;
	}
	.optionDiv #title{
		width: 50%;
		margin: 0px auto 10px auto;
		font-size: 18px;
		font-weight: 800;
		border-bottom: 2px solid #D66110;
	}
	.optionDiv li{
		width: 35%;
		margin: 1% 5%;
		padding: 20px 20px;
		display: inline-block;
		text-align: center;
		border:1px solid #D66110;
		position: relative;
	}
	.optionDiv #newProduct{
		position: absolute;
		left: -15px;
		top: -20px;
		background: #FF555C;
		color: #fff;
		width: 60px;
		height: 60px;
		line-height: 60px;
		border-radius: 50px;
	}
	.optionDiv img{
		max-width: 100%;
		height: 210px;
		margin: 10px 0px;
	}
	.optionDiv #price{
		font-size: 25px;
		color: #D66110;
		margin: 10px 0px;
	}
	.optionDiv #count{
		width: 100%;
		height: 30px;
		font-size: 15px;
		font-weight: 600;
		border-color:#D66110;
	}
	.submit{
		width: 100%;
		text-align: center;
	}
	.submit a{
		background:#FF7F27;
		padding:10px 15px;
		border-radius: 2px;
		font-weight: 400;
		font-size: 17px;
		color: #fff;
	}
	.submit a:hover{
		background:#FFA76A;
	}
/* order */
	.orderDiv{
		background: #fff;
		text-align: center;
		margin: 50px auto;
		padding: 30px 0px;
		border-top: 1px solid rgba(0,0,0,0.1);
		border-bottom: : 1px solid rgba(0,0,0,0.1);
	}
	.orderDiv .orderColumn{
		width: 450px;
		height: 35px;
		margin: 15px auto 0px auto;
		line-height: 35px;
		color: #FD6F75;
		position: relative;
	}
	.orderDiv .orderColumn .tagNecessary{
		position: absolute;
		top: 0px;
		right: -35px;
		font-size: 9px;
	}
	.orderDiv .orderColumn .title{
		float: left;
		width: 120px;
		text-align: right;
		font-weight: 700;
		padding-right: 15px;
		border-right: 2px solid #888;
	}
	.orderDiv .orderColumn input,select{
		float: right;
		width: 300px;
		height: 35px;
		font-size: 18px;
		padding-left: 15px;
		border : 1px solid #FD969A;
		border-radius: 2px;
		font-family: "微軟正黑體";
	}
	.orderDiv .orderColumn .enteredInput{
		outline: none;
		border-color : rgba(0,0,0,0.3);
		box-shadow : none;
	}
	.orderDiv .orderColumn .enteredTitle{
		color: #888888;
	}
	.orderDiv .leftNotice{
		position: absolute;
		top: 30px;
		background: #C00000;
		width: 50px;
		min-height: 400px;
		height: 80%;
		color: #fff;
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		line-height: 50px;
		border-radius: 3px;
		-webkit-writing-mode: vertical-lr;
		writing-mode: vertical-lr;
	}
	.orderDiv .buyNote{
		margin: 50px auto 10px auto;
		font-size: 12px;
	}
	.orderDiv .submitDiv{
		font-size: 15px;
	}
	.orderDiv .submitDiv a{
		background:#C00000;
		padding:10px 15px;
		border-radius: 1px;
		font-weight: 400;
		font-size: 17px;
		color: #fff;
	}
	.orderDiv .submitDiv a:hover{
		background: #D73B3B;
	}
.shopinfoPage{
	position: fixed;
	width: 75%;
	background: #fff;
	z-index: 10;		
	left: 10%;
	top: 50px;
	padding: 15px 2.5%;
	border-radius: 2px;
	display: none;
}
	/*last comfirm page*/
	.lastConfirmPage{
		position: fixed;
		width: 75%;
		background: #fff;
		box-shadow: 0px 0px 5px #888;
		z-index: 10;
		left: 10%;
		top: 50px;
		padding: 15px 2.5%;
		border-radius: 2px;
		text-align: center;
		max-height: 80%;
		overflow: auto;
	}
	.lastConfirmPage table{
		width: 90%;
		text-align: center;
		margin: 15px auto;
	}
	.lastConfirmPage table,tr,td{
		border-collapse: collapse;
		border: 1px solid rgba(0,0,0,0.1);
	}
	.lastConfirmPage .userDiv{
		float:left;
		text-align: left;
	}
	.lastConfirmPage .comfirmDiv{
	}
	.lastConfirmPage .comfirmDiv a{
		padding: 10px 15px;
		color: #fff;
		margin: 20px 10px;
	}
	.lastConfirmPage .comfirmDiv a:hover{
		color: black;
	}
	.lastConfirmPage .comfirmDiv #btnBack2Edit{
		background: #FDCC55;
	}
	.lastConfirmPage .comfirmDiv #btnFinishOrder{
		background: #0CC743;
	}
