<!DOCTYPE>
<html ng-app="vegefruit66" ng-controller="mainController">
<head>
	<link rel="shortcut icon" href="./images/favicon.ico" >

	<script type="text/javascript" src="./js/lib/angular.js"></script>
	<script type="text/javascript" src="./js/layout.js"></script>

	<meta name="{{meta.name}}" content="{{meta.content}}" ng-repeat="meta in $root.header.metas">

	<title>{{$root.header.title}}</title>

	<link rel="stylesheet" type="text/css" href="./css/layout.css">


	<!-- Load specific javascript or css -->
	<script type="text/javascript" src="./js/shipments.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/shipments.css">
	<!-- End to load -->
</head>
<body ng-controller="shipmentsController">

	<!-- gogle analysis -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60904924-2', 'auto');
		ga('send', 'pageview');
	</script>
	
	<div class="header" ng-include="$root.includePages.top" ></div>
	
	<!-- index start -->
	<div class="body">
		<div class="DeliveryArea" ng-repeat="delivery in aryDelivery">
			<h1>{{delivery.title}}</h1>
			<a href="{{delivery.fblink}}" class="deliveryAreaLink" target="_new" title="粉絲團更多">
				<ul ng-repeat="fruit in delivery.aryFruit">
					<li>
						<span>{{fruit.name}}</span>
						<img src="{{fruit.photo}}" />
						<hr class="verticalLine" ng-if="$index != delivery.aryFruit.length-1">
					</li>
				</ul>
				<a href="{{delivery.fblink}}" target="_new" class="fbLink" >到粉絲團看更多..</a>
			</a>
		</div>
	</div>
	<!-- end index -->

	<!--  -->
	<div class="footer" ng-include="$root.includePages.footer"></div>
</body>
</html>