<!DOCTYPE>
<html ng-app="vegefruit66" ng-controller="mainController">
<head>
	<link rel="shortcut icon" href="./images/favicon.ico" >

	<script type="text/javascript" src="./js/lib/angular.js"></script>
	<script type="text/javascript" src="./js/layout.js"></script>

	<meta name="{{meta.name}}" content="{{meta.content}}" ng-repeat="meta in $root.header.metas">

	<title>{{$root.header.title}}</title>

	<link rel="stylesheet" type="text/css" href="./css/layout.css">


	<!-- Load specific javascript or css -->
	<link rel="stylesheet" type="text/css" href="./css/shopping.css">
	<script type="text/javascript" src="./js/shopping.js"></script>
	<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">

	<!-- If you'd like to support IE8 -->
	<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	<!-- End to load -->
</head>
<body ng-controller="shoppingController">
	<!-- ng-include="$root.includePages.top" -->
	<div class="menu" ng-include="$root.includePages.top" ></div>
	
	<!-- index start -->
	<div class="body">
		<div class="vegetableBanner" ng-class="{fixedVegeBanner:isChangeClass}" scroll>
			<div id="showText">&rsaquo;&rsaquo;看看為您精心準備的蔬菜</div>
			<div id="banner"></div>
		</div>
		<div class="blackBG" ng-if="isShowVideo||objShopInfo.isShow"></div>
		<div class="videoPage" ng-show="isShowVideo">
			<a href="javascript:;" ng-click="fnChangeShowVideo()" title="關閉影片"><span class="icon close"></span></a>
			<div style='width: 800px;height: 450px;margin: auto;'>
				<video id="my-video" class="video-js" controls preload="auto" width="800" height="450"
				poster="./images/shopping/orange/video.jpg" data-setup="{}">
					<source src="./images/shopping/orange/show.mp4" type='video/mp4'>
					<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
					</p>
				</video>

				<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
			</div>
		</div>
		<div class="videoPage" ng-show="objShopInfo.isShow">
			<h2>蔬果溜溜購買須知</h2>
		</div>
		<section class="banner">
			<p><span class="redSadow">歲末年前主打<br>茂谷蜜柑</span></p>
			<a href="javascript:;" ng-click="fnChangeShowVideo()" title="播放影片"><span class="icon video"></span></a>
		</section>
		<section id="detail" class="limitWebView">
			<div class="intro">
				<p>古坑沈媽媽的茂谷蜜柑，<span class="redFront">產地直送沈媽媽的栽種方式堅持不用除草劑</span>，一個月需人工割草一次，並保留草皮當做保濕用，使茂谷蜜柑不容易自行掉落下來。較費工夫，這也是沈媽媽的茂谷蜜柑相較好吃的原因！<br>今年產量大減，約去年的四成，今年茂谷柑價格也較往年高，<span class="redFront">出貨持續到元宵前，賣完就沒了~</span><br><br>按訂單順序出貨，<u>下單付款後當天採收寄送(下午三點前下單付款，當天出貨，正常情況下隔天送達)</u></p>
			</div>
			<div id="nextDelivery">
				<span>現在下單，預計{{fnGetNextDeliveryDate(objOrange.nOrangeDeliveryDay)}}產地直送</span>
				<span class="icon delivery"></span>
			</div>
			<ul class="optionDiv">
				<li ng-repeat="(key,value) in objOrange.options">
					<div id="title">{{value.title}}</div>
					<img src="./images/shopping/orange/{{value.photo}}" />
					<br>
					<p>{{value.detail}}</p>
					<p id="price">{{value.price | currency:"$":0}}</p>
					<select id="count" ng-model="value.count" ng-options="i for i in [0,1,2,3,4,5,6,7,8,9,10]" ng-change="objOrange.fnCountOrange()">
					</select>
				</li>
			</ul>
			<div class="submit" ng-if="objOrange.isSelected">
				<p>您選購好了嗎，趕緊填寫訂單吧！</p>
				<p>目前金額：<u>{{objOrange.nTotalPrice | currency:"$":0}}</u></p>
				<br>
				<a href="javascript:;" ng-click="objOrder.fnCreateOrder()">下一步</a>
			</div>
		</section>
		<section class="orderDiv limitWebView" ng-if="objOrder.isShow">
			<div class="leftNotice">
				您的個人資料　　蔬果溜溜絕對保密
			</div>
			<div class="rightDiv">
				<h2>建立訂單</h2>
				<div class="orderColumn" ng-repeat="(key,obj) in objOrder.columns">
					<span class="title" ng-class="{enteredTitle:obj.value}">{{obj.title}}</span>
					<input type="text" ng-model="obj.value" ng-class="{enteredInput:obj.value}">
					<span class="tagNecessary" ng-if="obj.isNecessary">*必填</span>
				</div>
			</div>
			<div class="buyNote" ng-click="objShopInfo.fnClickCheckBox()">
				<input type="checkbox" ng-model="objShopInfo.isAgree" ng-click="objShopInfo.fnClickCheckBox()"/>
				<span>同意蔬果溜溜的購買須知《<a href="javascript:;">詳細須知</a>》</span>
			</div>
			<div class="submitDiv">
				<hint>訂單也會寄送到您填寫的Email中喔！</hint>
				<hint ng-if="objOrder.szError.length" style="color:red;margin:30px;border-bottom: 1px solid red;"><br><br>{{objOrder.szError}}<br></hint>
				<br><br>
				<a href="javascript:;" ng-click="objOrder.fnSubmit()">確定並查看訂單</a>
			</div>
		</section>
	</div>
	<!-- end index -->

	<!-- ng-include="$root.includePages.footer" -->
	<div class="footer" ng-include="$root.includePages.footer"></div>
</body>
</html>