<!DOCTYPE>
<html ng-app="vegefruit66" ng-controller="mainController">
<head>
	<link rel="shortcut icon" href="./images/favicon.ico" >

	<script type="text/javascript" src="./js/lib/jquery.js"></script>
	<script type="text/javascript" src="./js/lib/angular.js"></script>
	<script type="text/javascript" src="./js/layout.js"></script>

	<meta name="{{meta.name}}" content="{{meta.content}}" ng-repeat="meta in $root.header.metas">

	<title>{{$root.header.title}}</title>

	<link rel="stylesheet" type="text/css" href="./css/layout.css">


	<!-- Load specific javascript or css -->
	<script type="text/javascript" src="./js/vegeinfo.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/vegeinfo.css">
	<!-- End to load -->
</head>
<body ng-controller="vegeinfoController">
	<!-- ng-include="$root.includePages.top" -->
	<div class="header" ng-include="$root.includePages.top"></div>
	
	<!-- index start -->
	<div class="body">
		<div class="title">
			<h1>蔬果小學堂</h1>
			<p>定時補充各種蔬果知識，讓您能更快速獲取蔬果資訊</p>
		</div>
		<section>
			<ul class="vegeSelection" ng-init="fnInitVegeSelect()">
				<a href="javascript:;"><li ng-repeat="vege in aryVegeSelect" ng-style="vege.Style" title="觀看{{vege.name}}">
					<p>{{vege.name}}</p>
				</li></a>
			</ul>
		</section>
	</div>
	<!-- end index -->

	<!-- ng-include="$root.includePages.footer" -->
	<div class="footer" ng-include="$root.includePages.footer"></div>
</body>
</html>