<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="images/activities/activity1/header.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a ng-click="pageChange('activities1')">古坑沈媽媽茂谷蜜柑採訪</a></h2>
							<p class="info">三天前by <a href="#">蔬果溜溜</a></p>
						</header>
						<p>
						古坑沈媽媽的茂谷蜜柑栽種方式堅持不用除草劑，一個月需人工割草一次，並保留草皮當做保濕用，使茂谷蜜柑不容易自行掉落下來。較費工夫，這也是沈媽媽的茂谷蜜柑相較好吃的原因!
						這次非常幸運蔬果溜溜有機會親自去探訪沈媽媽的果園，讓我們一起來看看吧		
						</p>
						<ul class="actions">
							<li><a ng-click="pageChange('activities1')" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style2 alt">
				<div class="image">
					<img src="images/activities/activity2/header.jpg" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a ng-click="pageChange('activities2')">公益活動</a></h2>
							<p class="info">三天前by <a href="#">蔬果溜溜</a></p>
						</header>
						<p>
						蔬果溜溜在2017/1/3參與了西螺財神殿的冬令愛心白米發放活動，蔬果溜溜捐贈九百多斤白米與數箱蔬果，合計兩萬多元，給當地低收入戶與需要幫助的人。很榮幸能夠有這樣的機會來實踐我們的理念，也很需要大家的支持~當天的活動發放白米共七千多斤，發放兩百多戶人家，有騎車、走路過來領的，也有路途較遙遠由里長開貨車過來領回去發放的。看到他們生活過的艱苦，我們付出一點點的心意就能給他們大大的幫助，讓這活動變得很有意義。這天有來幫忙發白米、蔬菜，煮飯、誦經的義工，大家都為了共同的理念，有錢出錢有力出力。西螺財神殿持續白米發放活動已經第六年了，每年都有許多善心人士的參與，感謝來自全台灣各地的義工們無私的奉獻。蔬果溜溜在此次活動中，看見台灣人們內心的美麗，在自己有能力之餘，願意站出來給別人提供一些幫助。各地都有需要幫助的人們，行有餘力的大家別忘了手心向下才是最大的幸福唷!
						</p>
						<ul class="actions">
							<li><a ng-click="pageChange('activities2')" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="images/activities/activity3/header.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a ng-click="pageChange('activities3')">雲林實地探訪</a></h2>
							<p class="info">三天前by <a href="#">蔬果溜溜</a></p>
						</header>
						<p>
						小編昨天在雲林走訪了許多當地的產農，看到了田園鄉間的美麗看那辛勤的農民們，為了討生活、早上五六點就要趕到田地採收小編把這些農民最真誠的一面，展現給各位看農民們對於蔬果栽種的堅持，敬天敬地、不怨天尤人這樣的態度讓小編感觸很深，受益良多小編走訪了一整天，每位農夫一定會問小編：要不要拿些回去吃阿?大家有機會可以到雲林走走，看看這邊農民的熱情與堅持下次如果舉辦農地一日遊活動，蔬果溜溜的粉絲們願意一起參與嗎？請在留言中寫出您寶貴的意見吧!
						</p>
						<ul class="actions">
							<li><a ng-click="pageChange('activities3')" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style1 alt">
				<div class="image">
					<img src="images/activities/activity4/header.jpg" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a ng-click="pageChange('activities4')">芭樂採訪</a></h2>
							<p class="info">三天前by <a href="#">蔬果溜溜</a></p>
						</header>
						<p>
						Coming soon
						</p>
						<ul class="actions">
							<li><a ng-click="pageChange('activities4')" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>